<!-- -*-xml-*-
     Handle ROS simulation of the SoT.
  -->
<launch>
  <!-- Which robot are we controlling ? -->
  <arg name="use_mobile_base" doc="Whether SoT should control the mobile base"/>
  <arg name="robot" default="tiago" />
  <arg name="libsot" default="libsot-tiago-steel-controller.so" />
  <arg name="end_effector" doc="one of false, pal-gripper, pal-hey5, schunk-wsg"/>

  <arg name="sot-launch-prefix" default="" />

  <include file="$(find sot_tiago_bringup)/launch/geometric_simu_context.launch">
    <arg name="end_effector" value="$(arg end_effector)"/>
    <arg name="use_mobile_base" value="$(arg use_mobile_base)"/>
  </include>

  <param name="/sot_controller/use_mobile_base" value="$(arg use_mobile_base)"/>

  <!-- Load Stack of Tasks. -->
  <node machine="geometric_simu_machine" 
        name="node_stack_of_tasks" 
        pkg="dynamic_graph_bridge"
        type="geometric_simu"
        args=" --input-file $(arg libsot)"
        launch-prefix="$(arg sot-launch-prefix)" >
    <param name="/sot/dg/geometric_simu" value="" />
  </node>


</launch>
