<launch>

  <!-- Sot Controller configuration -->
  <rosparam command="load" file="$(find roscontrol_sot_tiago)/config/sot_tiago_params_effort.yaml"/>
  <rosparam command="load" ns="/sot_controller/effort_control_pd_motor_init" file="$(find roscontrol_sot_tiago)/config/pids_effort.yaml"/>
  <rosparam command="load" file="$(find roscontrol_sot_tiago)/config/sot_tiago_controller.yaml" />
  
  <!-- Spawn walking controller -->
  <node name="sot_controller_spawner"
        pkg="controller_manager" type="spawner" output="screen"
        args="sot_controller" />

</launch>

